menu "Gaus Demo Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "mypassword"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

config GAUS_SERVER_URL
    string "Gaus server url"
	default "https://gaus.incubation.io/"
	help
		The url that this device should communicate with Gaus
		on.

		MUST be set in order for demo to work.

config GAUS_PRODUCT_ACCESS
    string "Gaus Product Access"
	default ""
	help
		The product access key for the product family this
		device belongs to.

		Can be found in the Gaus admin UI when creating a new
		product.

		MUST be set in order for the demo to work.

config GAUS_PRODUCT_SECRET
    string "Gaus Product Secret"
	default ""
	help
		The product secret key for the product family this
		device belongs to.

		Can be found in the Gaus admin UI when creating a new
		product.

		MUST be set in order for the demo to work.

config GAUS_DEVICE_ID
    string "Gaus Device ID"
    default ""
    help
        The unique identifier for this device.

        Can be set to something like a MAC address.

        MUST be set in order for the demo to work.
endmenu
